:root {
  --hero-color: #0b506c;
  --hero-hue: 197deg;
  --hero-saturate: 82%;
  --hero-brightness: 46%;
  --background-color: #f7c69f;
  --title-color: #98cec6;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  text-align: center;
}

nav {
  color: var(--hero-color);
  height: 4rem;
  z-index: 3;
  position: fixed;
  width: 100%;
}

section.fixed {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}


section.fixed>header {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

section.fixed>header>img {
  width: 85%;
  filter: hue-rotate(var(--hero-hue)) saturate(var(--hero-saturate))
    brightness(var(--hero-brightness));
}

section.fixed>div.spacer {
  height: 10rem;
}

section.scrolling {
  height: 100%;
  z-index: 2;
  position: relative;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}


section.scrolling>section.title {
  height: 100%;
  scroll-snap-align: start;
}

section.scrolling>section.title>div.spacer {
  height: calc(100% - 5rem);
}

section.scrolling>section.title>svg {
  background-color: #fff;
  width: 100%;
  height: 5rem;
  fill: var(--title-color);
}

section.scrolling>section.about {
  scroll-snap-align: center;
  color: var(--hero-color);
  height: 125%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
