:root {
  --hero-color: #0b506c;
  --hero-hue: 197deg;
  --hero-saturate: 82%;
  --hero-brightness: 46%;
  --background-color: #f7c69f;
  --title-color: #98cec6;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  text-align: center;
}

nav {
  color: var(--hero-color);
  height: 4rem;
  z-index: 3;
  position: fixed;
  width: 100%;
}

nav > div.scroll-arrow-wrapper {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  cursor: pointer;
}

nav > div.scroll-arrow-wrapper > div.scroll-arrow {
  width: 3rem;
  height: 2px;
  background-color: rgba(0, 0, 0, 1);
  transform-origin: 50% 50%;
  transition: all 0.2s ease-out;
  transform: rotate(45deg) translate(0px, 1.5rem);
}

nav > div.scroll-arrow-wrapper > div.scroll-arrow::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: 3rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  transform-origin: 50% 50%;
  transition: all 0.2s ease-out;
  transform: rotate(-90deg) translate(1.5rem, 1.5rem);
}

nav > div.scroll-arrow-wrapper.reverse-arrow > div.scroll-arrow {
  transform: rotate(45deg) translate(calc(3rem / 2), 0px);
}

nav > div.scroll-arrow-wrapper.reverse-arrow > div.scroll-arrow::before {
  transform: rotate(-90deg) translate(calc(-3rem / 2), calc(-3rem / 2));
}

section.fixed {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}

section.fixed > header {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

section.fixed > header > img {
  width: 85%;
  filter: hue-rotate(var(--hero-hue)) saturate(var(--hero-saturate))
    brightness(var(--hero-brightness));
}

section.fixed > div.spacer {
  height: 10rem;
}

section.scrolling {
  height: 100%;
  z-index: 2;
  position: relative;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

section.scrolling > section.title {
  height: 100%;
  scroll-snap-align: start;
}

section.scrolling > section.title > div.spacer {
  height: calc(100% - 5rem);
}

section.scrolling > section.title > svg {
  background-color: #fff;
  width: 100%;
  height: 5rem;
  fill: var(--title-color);
}

section.scrolling > section.about {
  font-family: "Roboto", sans-serif;
  padding: 0 1em;
  scroll-snap-align: center;
  color: var(--hero-color);
  height: 125%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.scrolling > section.about > p.underline {
  text-decoration: underline;
}

section.scrolling > section.about > p.italic {
  font-style: italic;
}
